.form-check-label {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 30%;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid #000;
}

input[type="radio"] {
    display: block;
}

input[type="radio"]:checked + .form-check-label {
    width: 25px;
    height: 25px;
    border: 1px solid #0e9d13; /* Màu viền khi được chọn */
}
